[submodule "dependencies/miniaudio"]
	path = dependencies/miniaudio
	url = https://github.com/dr-soft/miniaudio.git
[submodule "dependencies/args"]
	path = dependencies/args
	url = https://github.com/Taywee/args.git
